{% extends 'Base/base.html' %}
{% load static %}
{% block title %}
    صفحه اصلی
{% endblock %}
{% block content %}

    <!-- Start slider -->
    <section id="slider">
        <div class="main-slider">
            {% for slider in sliders %}
                {% include 'Sliders/componentes/slider_component.html' with slider=slider %}
            {% endfor %}

        </div>
    </section>
    <!-- End slider -->

    <!-- Start about  -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-area">
                        <h2 class="title">درباره من</h2>
                        <span class="line"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="about-content">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="our-skill">
                                    <h3>توانایی های من</h3>
                                    <div class="our-skill-content">
                                        {% for skill in skills %}
                                            <div class="progress">
                                                <div class="progress-bar six-sec-ease-in-out" role="progressbar"
                                                     data-transitiongoal="{{ skill.percent }}">
                                                    <span class="progress-title">{{ skill.skill }}</span>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="why-choose-us">
                                    <div class="panel-group why-choose-group" id="accordion">

                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                       href="#collapseOne">
                                                        {{ bio.title }}<span class="fa fa-minus-square"></span>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <img class="why-choose-img"
                                                         src="{{ bio.avatar.url }}"
                                                         alt="img">
                                                    <p>
                                                        {{ bio.description|safe }}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about -->

    <!-- Start counter -->
    <section id="counter">
        <div class="counter-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="counter-area">
                            <div class="row">
                                <!-- Start single counter -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="single-counter">
                                        <div class="counter-icon">
                                            <i class="fa fa-suitcase"></i>
                                        </div>
                                        <div class="counter-no counter">1275</div>
                                        <div class="counter-label">
                                            پروژه ها
                                        </div>
                                    </div>
                                </div>
                                <!-- End single counter -->
                                <!-- Start single counter -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="single-counter">
                                        <div class="counter-icon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                        <div class="counter-no counter">5275</div>
                                        <div class="counter-label">
                                            ساعت کار
                                        </div>
                                    </div>
                                </div>
                                <!-- End single counter -->
                                <!-- Start single counter -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="single-counter">
                                        <div class="counter-icon">
                                            <i class="fa fa-trophy"></i>
                                        </div>
                                        <div class="counter-no counter">350</div>
                                        <div class="counter-label">
                                            امتیازات
                                        </div>
                                    </div>
                                </div>
                                <!-- End single counter -->
                                <!-- Start single counter -->
                                <div class="col-md-3 col-sm-6">
                                    <div class="single-counter">
                                        <div class="counter-icon">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <div class="counter-no counter">875</div>
                                        <div class="counter-label">
                                            مشتری ها
                                        </div>
                                    </div>
                                </div>
                                <!-- End single counter -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End counter -->

    <section id="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-area">
                        <h2 class="title">آخرین اخبار</h2>
                        <span class="line"></span>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="latest-news-content">
                        <div class="row">
                            <!-- start single latest news -->
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="blog-single-with-right-sidebar.html"><img
                                                src="{% static 'images/blog-img-1.jpg' %}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="blog-single-with-right-sidebar.html">عنوان این خبر</a></h2>
                                        <p>توسط <a class="blog-author" href="#">نام نویسنده</a> <span class="blog-date">| 30 خرداد 1395</span>
                                        </p>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچن</p>
                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">مشاهده بیشتر<i
                                                class="fa fa-long-arrow-left"></i></a>
                                    </div>
                                </article>
                            </div>
                            <!-- start single latest news -->
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="blog-single-with-right-sidebar.html"><img
                                                src="{% static 'images/blog-img-2.jpg' %}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="blog-single-with-right-sidebar.html">عنوان این خبر</a></h2>
                                        <p>توسط <a class="blog-author" href="#">نام نویسنده</a> <span class="blog-date">| 30 خرداد 1395</span>
                                        </p>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچن</p>
                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">مشاهده بیشتر<i
                                                class="fa fa-long-arrow-left"></i></a>
                                    </div>
                                </article>
                            </div>
                            <!-- start single latest news -->
                            <div class="col-md-4">
                                <article class="blog-news-single">
                                    <div class="blog-news-img">
                                        <a href="blog-single-with-right-sidebar.html"><img
                                                src="{% static 'images/blog-img-3.jpg' %}" alt="image"></a>
                                    </div>
                                    <div class="blog-news-title">
                                        <h2><a href="blog-single-with-right-sidebar.html">عنوان این خبر</a></h2>
                                        <p>توسط <a class="blog-author" href="#">نام نویسنده</a> <span class="blog-date">| 30 خرداد 1395</span>
                                        </p>
                                    </div>
                                    <div class="blog-news-details">
                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                            طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچن</p>
                                        <a class="blog-more-btn" href="blog-single-with-right-sidebar.html">مشاهده بیشتر<i
                                                class="fa fa-long-arrow-left"></i></a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}