{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mixitup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/waypoints.js' %}"></script>
<script src="{% static 'js/jquery.counterup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-progressbar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<link rel="canonical" href="http://www.bistscript.ir"/>
