{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mixitup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
<script src="{% static 'js/waypoints.js' %}"></script>
<script src="{% static 'js/jquery.counterup.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-progressbar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<link rel="canonical" href="http://www.bistscript.ir"/>
<section id="subscribe">
    <div class="subscribe-overlay">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="subscribe-area">
                        <h2 class="wow fadeInUp">عضویت در خبرنامه</h2>
                        <form action="" class="subscrib-form wow fadeInUp" data-wow-duration="0.5s"
                              data-wow-delay="0.5s">
                            <input type="text" placeholder="ایمیل خود را وارد کنید...">
                            <button class="subscribe-btn" type="submit">ثبت</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>